body {
    background-color: #FEEED6;
    width: 750px;
    font-family: sans-serif;
    color: #686565;
}

.header
{
    font-weight: normal;
}

div
{
    text-indent: 25px;
    width: 750px;
}

span
{
    font-weight: bold;
    color: #58a2bd;
}
