[v-cloak] {
    display: none;
}

.invalid {
    border-color: red;
}

.error-message {
    color: red;
}

.todo-list-style {
    margin: 10px;
}

.header {
    margin: 10px;
    color: #007FFF;
}

.button-style {
    margin-left: 10px;
}