.header {
    text-indent: 20px;
    font-weight: normal;
    max-width: 750px;
    font-size: 1.73em;
    color: #676565;
    margin-bottom: -5px;
    font-family: Tahoma, serif;
}

.form-block {
    max-width: 736px;
}

.client-info {
    background-color: #FEEED6;
    width: 100%;
    padding: 10px 0;
    margin-top: 10px;
    font-size: 14px;
    font-family: Tahoma, serif;
}

.client-info p {
    margin: 5px 18px 0 18px;
    max-width: 92%;
}

.client-info label {
    color: #6D656D;
    font-weight: bold;
}

.client-info input, textarea {
    padding: 10px 10px;
    width: 100%;
    margin-bottom: 10px;
    color: rgb(85, 85, 85);
    font-weight: 500;
    font-size: inherit;
    font-stretch: semi-expanded;
    background-color: #fff;
    border: none;
    outline: none;
}

.client-info textarea {
    height: 90px;
    font-family: sans-serif;
    resize: vertical;
}

.client-info span {
    color: rgba(85, 85, 85, 0.7);
    width: 100%;
}

.client-info button {
    border: none;
    outline: none;
    margin: 5px 0 5px 81%;
    padding: 0;
    height: 30px;
    width: 22%;
    font-size: inherit;
    font-weight: bold;
    background-color: #378DB2;
    color: #fff;
    cursor: pointer;
}

.client-info button:hover {
    background-color: #007FFF;
}

.client-info ::placeholder {
    color: rgba(85, 85, 85, 0.5);
}
