.table-block {
    max-width: 750px;
}

.employees {
    border-collapse: collapse;
    border: 1px solid #e9e9e9;
    width: 100%;
    font-family: sans-serif;
    font-size: 110%;
}

.head-line tr th {
    border: 1px solid #e4e4e4;
    padding: 16px 10px;
    background-color: #3498db;
    color: white;
    text-align: left;
}

.body-line tr td {
    border: 1px solid #e4e4e4;
    padding: 16px 10px;
    color: #574f43;
}

.body-line tr:nth-child(2n - 1) {
    background: #eeeeee;
}